<div class="reviews">
    <h2>Reviews</h2>
    <EditForm class="review-editor" Model="Item" OnValidSubmit="InsertReview">
        <StarRating @bind-Value="Item.Rating" />
        <ValidationMessage For="@(() => Item.Rating)" class="text-danger" />

        <InputTextArea rows="5" name="text" placeholder="Write a review" @bind-Value="Item.Text" />
        <ValidationMessage For="@(() => Item.Text)" class="text-danger" />

        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
    @for (int i = 0; i < Reviews.Count; i++)
    {
        var review = Reviews[i];
        <div class="review">
            <StarRating Value="review.Rating" />
            <p>@review.Text</p>
            @if (i < Reviews.Count - 1)
            {
                <hr />
            }
        </div>
    }
</div>

@code {

    private Review Item { get; set; } = new Review();

    [Parameter, EditorRequired]
    public IList<Review> Reviews { get; set; } = default!;

    void InsertReview()
    {
        Reviews.Add(Item);
        Item = new Review();
    }
}
