html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.card.beer-card {
    flex-direction: row;
    align-items: center;
}

    .card.beer-card.odd {
        flex-direction: row-reverse !important;
    }

    .card.beer-card .card-title {
        font-weight: bold;
    }

    .card.beer-card img {
        height: 200px;
        width: auto;
        border-top-right-radius: 0;
        border-bottom-left-radius: calc(0.25rem - 1px);
    }

@media only screen and (max-width: 768px) {
    .card.beer-card .card-body {
        padding: 0.5em 1.2em;
    }

        .card.beer-card .card-body .card-text {
            margin: 0;
        }

    .card.beer-card .card img {
        height: 150px;
    }
}
